# Imports and fetching data#

In [50]:
#regex
import re

# pandas + numpy
import numpy as np
import pandas as pd

#storing and lading models
import pickle

#henter data fra csv
df_test = pd.read_csv("../data/test_data.csv")
df_train = pd.read_csv("../data/train_data.csv")

# Data cleaning og funksjoner #

In [61]:
#rydding av dataframe

df_train = df_train.drop_duplicates()
sum = df_train.duplicated().sum()
print(sum)
df_train

ValueError: invalid literal for int() with base 10: 'ABC'

In [ ]:
df_test

,PassengerId,Survived,Pclass,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age
0,150,0,2,1,0,0,124,13.0000,-1,2,42.0
1,408,1,2,1,1,1,196,18.7500,-1,2,3.0
2,54,1,2,0,1,0,198,26.0000,-1,2,29.0
3,370,1,1,0,0,0,458,69.3000,20,0,24.0
4,819,0,3,1,0,0,424,6.4500,-1,2,43.0
...,...,...,...,...,...,...,...,...,...,...,...
138,820,0,3,1,3,2,278,27.9000,-1,2,10.0
139,165,0,3,1,4,1,208,39.6875,-1,2,1.0
140,364,0,3,1,0,0,508,7.0500,-1,2,35.0
141,57,1,2,0,0,0,436,10.5000,-1,2,21.0
142,137,1,1,0,0,2,46,26.2833,96,2,19.0