# Imports and fetching data#

In [16]:
#xgboost model
import xgboost as xgb

from sklearn.metrics import mean_squared_error

#regex
import re

# pandas, numpy
import numpy as np
import pandas as pd
import math

#henter data fra csv
df_test = pd.read_csv("../data/test_data.csv")
df_train = pd.read_csv("../data/train_data.csv")

# Data cleaning og funksjoner #

In [17]:
#sjekker data
df_train.head()

,PassengerId,Survived,Pclass,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age
0,329,1,3,0,1,1,346,20.525,-1,2,31.0
1,74,0,3,1,1,0,166,14.4542,-1,0,26.0
2,254,0,3,1,1,0,419,16.1,-1,2,30.0
3,720,0,3,1,0,0,260,7.775,-1,2,33.0
4,667,0,2,1,0,0,104,13.0,-1,2,25.0

In [18]:
df_train.describe()

,PassengerId,Survived,Pclass,Sex,SibSp,Parch,Cabin,Embarked,Age
count,1493.000000,1493.000000,1493.000000,1493.000000,1493.000000,1493.000000,1493.000000,1493.000000,1.488000e+03
mean,597.697254,0.327528,2.261219,0.690556,0.184863,0.178835,5.994642,1.834561,2.151174e+05
std,251.365652,0.469469,0.628908,0.462419,0.594308,0.592203,24.214966,0.538178,8.295612e+06
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-3.200000e+04
25%,377.000000,0.000000,2.000000,0.000000,0.000000,0.000000,-1.000000,2.000000,-3.500000e+01
50%,758.000000,0.000000,2.000000,1.000000,0.000000,0.000000,-1.000000,2.000000,1.600000e+01
75%,813.000000,1.000000,3.000000,1.000000,0.000000,0.000000,-1.000000,2.000000,2.400000e+01
max,891.000000,1.000000,3.000000,1.000000,5.000000,6.000000,133.000000,2.000000,3.200000e+08

In [19]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1493 entries, 0 to 1492
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1493 non-null   int64
 1   Survived     1493 non-null   int64
 2   Pclass       1493 non-null   int64
 3   Sex          1493 non-null   int64
 4   SibSp        1493 non-null   int64
 5   Parch        1493 non-null   int64
 6   Ticket       1493 non-null   object
 7   Fare         1493 non-null   object
 8   Cabin        1493 non-null   int64
 9   Embarked     1493 non-null   int64
 10  Age          1488 non-null   float64
dtypes: float64(1), int64(8), object(2)
memory usage: 128.4+ KB

In [20]:

# rydding av dataframe
# dropper duplikasjon av rader i Train_data.csv
df_train = df_train.drop_duplicates()
df_train = df_train.drop_duplicates(subset=['Fare'])
#gjør string og tall til nan og fjener det
df_train["Ticket"] = pd.to_numeric(df_train["Ticket"], errors="coerce")
df_train["Fare"] = pd.to_numeric(df_train["Fare"], errors="coerce")


df_train = df_train[df_train["Age"] > 0]
df_train = df_train[df_train["Age"] < 100]

#gjør alle ticket til positive integer
df_train["Ticket"] = df_train["Ticket"].apply(abs)
df_train = df_train.dropna()

df_train["Ticket"] = df_train["Ticket"].astype(int)
df_train["Age"] = df_train["Age"].astype(int)

# Model creation

In [21]:
#instansierer en xgb model
model = xgb.XGBRegressor()

#data fra train
x_train = df_train.drop(["Age"], axis=1)
y_train = df_train["Age"]

#data fra test for å teste prediction
x_test = df_test.drop(["Age"], axis=1)
y_test = df_test["Age"]

#trener modellen med train_data
model.fit(x_train, y_train)

#predics age of test_data given parameter from test_data
preds = model.predict(x_test)

#means squared of error
mse = mean_squared_error(preds, y_test)

#gjør om til root mean squared of error
rmse = math.sqrt(mse)

#root mean squered of error
rmse

13.31204272366906